body{
  background-color: #000;
}

.our-nav{
  background-color: #f4b800;
  font-weight: 900;
  font-size: 20px;
}

.nav-icons{
  font-size: 30px;
}

.nav-logo{
  font-size: 27px;
}
.artical-date-id{
  right: 0;
  height: 25px;
}

.orange{
  color: #f4b800 ;
}

.orange-dark{
 opacity: 0.5;
 font-size: 13px;
}

article {
  border-top: 1px solid #f4b800;
  border-bottom: 1px solid #f4b800;
}

.slime{
  width:25px;
  height:35px;
}
.like{
  width:25px;
  height:35px;
  margin-right: 60px;
}

.article-comment{
  font-size: 29px;
}